body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#inventory {
    margin-top: 20px;
}

.item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    width: 200px;
}

    .item:hover {
        background-color: #f0f0f0;
    }
